{{#each json.articles}}
    <div class="article h-100 p-5 bg-light border rounded-3">
        {{#if ../searchPage}}
            <p>{{this.source.name}}</p>
        {{/if}}
        <h1>{{this.title}}</h1>
        <h2>{{this.description}}</h2>
        {{#if this.urlToImage}}
            <img src="{{this.urlToImage}}" alt="image accompanying the article">
        {{/if}}
        <a href="{{this.url}}" target="_blank" class="btn btn-primary btn-lg px-4 gap-3">Read</a>
    </div>
{{/each}}
